#profileContentDiv{
    background-color: rgb(199, 207, 181);
    border: 1px solid rgb(119, 143, 119);
    border-radius: 30px;
    padding: 10px;
}
.kose{
    /* burda resmin yüzde ellisi kıvrılmış olur */
    border-radius: 50%;
}

#profileDiv{
    border: 1px solid rgb(167, 189, 166); 
    padding: 30px;
    display: flex;
    align-items: center;/*3 elemanın da ortalamnasını sağlarr*/
    justify-content: center;/*3 elemanın da ortalamnasını sağlarr*/
    flex-direction: column; /*bu şekilde div içindeki elemanların alt alta gelmesin, sağlar*/
}                                            .companyDiv{
    border-radius: 30px;
}
#company{
    border-radius: 40px;
}
.info{
    margin:10px;
}
#reposDiv{
    margin-top: 20px;
    background-color: rgb(192, 205, 181);
    border-radius: 20px;
    border: 1px solid rgb(204, 215, 186);
    padding: 10px;
}

#searchedUserDiv{
    background-color: rgb(87, 111, 59);
    border-radius: 20px;
    display: flex;
    /*  kutunun içindekileri sıraya koymak demek altta da bunun tütnü belirliyoruz */
    flex-direction: row;
    /* column demek dikey sıra demek row olsaydı yan yana dizerdim demek istiyor */
    margin-top: 10px;
    border: 1px solid rgb(183, 200, 178);

}
#searchMain{
    display: flex;
    flex-direction: row;
   
}
#buttonTT{
    border-radius: 20px;
}
#todaySentenceDiv{
    margin-top: 70px;
    background-color: rgb(227, 240, 211);
    border: 1px solid rgb(212, 196, 196);
    border-radius: 20px;
  
}
